<a  class="list"
 class="list-group-item  " 
 
 style="text-decoration:none; color: black;"
 [routerLink]="[index]" >
 <h4 > {{recipe.name}}</h4>
 <span class="img"><img src="{{recipe.imagePath}}"
     alt="{{recipe.name}}" class="img-responsive"   
      style= "margin: 10px; box-shadow:2px 2px 2px  rgb(191, 189, 189);width: 100px;height: 100px;" ></span>
      <p  
      style="line-height: 1.6;word-break: break-all; font-weight: bold;
        margin-right:2%  "> {{recipe.description}}</p> 
 
     
    </a>
